* {
  @apply box-border m-0 p-0;
  font-family: "Poppins", sans-serif;
}

body {
  @apply flex justify-center items-center;
  background: #8758ff;
}

.App {
  @apply text-center;
}

h1 {
  @apply text-white text-[1.75rem] mb-2;
}

.TodoWrapper {
  @apply mt-20 p-8 rounded-[5px];
  background: #1a1a40;
}

.statistics-wrapper {
  @apply text-white text-[1.75rem] mt-20 p-8 rounded-[5px];
  background: #1a1a40;
}

.TodoForm {
  @apply w-full mb-4;
}

.todo-input {
  @apply border w-[300px] text-white mt-4 mb-8 px-4 py-2 border-solid border-[#8758ff];
  outline: none;
  background: none;
}

.todo-input::placeholder {
  @apply text-[#ffffff4d];
}

.todo-btn {
  @apply text-white cursor-pointer p-[0.55rem] border-[none];
  background: #8758ff;
}

.back-btn {
  @apply text-xl text-white cursor-pointer p-[0.55rem] border-[none];
  background: #8758ff;
}

.Todo {
  @apply flex justify-between items-center text-white mb-4 px-4 py-3 rounded-[5px];
  background: #8758ff;
}

.fa-trash {
  @apply ml-3;
}

.incompleted {
  @apply text-white cursor-pointer;
}

.completed {
  @apply text-[#c5aeff] line-through cursor-pointer;
}

.delete-icon {
  @apply cursor-pointer;
}